<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
        <img src="/images/icon.png" width="30" height="30" class="d-inline-block align-top" alt="">
        Beddit
    </a>
    <div id="user-info">
        <span id="user">isaychris</span> • <span id="post-karma">0</span> • <span id="comment-karma">0</span>
    </div>
    <a class="btn btn-primary" href="" id="user-settings"> <i class="fas fa-cog"></i></a>
</nav>