<h3>Subreddits</h3>
<table class="table table-striped">
    <tbody>
<% if (subreddits != undefined) { 
    subreddits.forEach((s) => { %>
        <tr>
        <td><a href="/r/<%= s.name %>">/r/<%= s.name %></a></td>
        </tr>
    <% }); %>
    <% } else { %>
    There isnt any subreddits
    <% } %>
    </tbody>
</table>   