<form id="form-search" action="/search/" method="post">
    <div class="input-group mb-3">
        <input type="text" class="form-control" name="query" placeholder="Find a post" required>
        <div class="input-group-append">
            <button class="btn btn-primary submit" type="submit">Search</button>
        </div>
    </div>
</form>                  
<a class="btn btn-block btn-success auth-req" href="/submit/link" id="submit-link">Submit new link</a><br>
<a class="btn btn-block btn-primary auth-req" href="/submit/post" id="submit-post">Submit new post</a><br>
<a class="btn btn-block btn-light auth-req" href="/submit/subreddit" id="create-subreddit">Create subreddit</a><br>