<% if(isAuth) { %>
    <h3 class="text-center">Subscribed</h3>
    <table class="table table-striped">
        <tbody>
    <% if (subscribed != undefined) { %>
        <% subscribed.forEach((s) => { %>
            <tr>
            <td><a href="/r/<%= s %>">/r/<%= s %></a></td>
            </tr>
        <% }); %>

            <% if(subscribed.length == 0) { %>
                You are not subscribed to any subreddit
            <% } %>
        <% } %>
    <% } %>
    </tbody>
    </table>