<% if(isAuth) { %>
    <h4 class="text-center">Subscribed (<%=subscribed.length %>)</h4>
    <table class="table table-striped">
        <tbody>
    <% if (subscribed != undefined) { %>
        <% subscribed.forEach((s) => { %>
            <tr>
            <td><a href="/r/<%= s %>">/r/<%= s %></a></td>
            </tr>
        <% }); %>
        <% } else { %>
            <span class="text-center">You are not subscribed to any subbeddit</span>
        <% } %>
    </tbody>
    </table>
    <% } %>
