<form id="form-search" action="/r/<%=name%>/search/" method="post">
    <div class="input-group mb-3">
        <input type="text" class="form-control" name="query" placeholder="Find a post" required>
        <div class="input-group-append">
            <button class="btn btn-primary submit" type="submit">Search</button>
        </div>
    </div>
</form>                
<div class="btn-group" style="width: 100%">
    <a class="btn btn-success auth-req" href="/r/<%=name%>/submit/link" id="submit-link" style="width: 100%">New link</a>
    <a class="btn btn-primary auth-req" href="/r/<%=name%>/submit/post" id="submit-post" style="width: 100%">New post</a>
    </div>
    <br><br>
    
<% if(locals.isauth) { %>
    <% if(state == false) { %>
        <a class="btn btn-block btn-light auth-req" href="javascript:void(0)" id="subscribe">Subscribe</a>
    <% } else if (state == true) { %>
        <a class="btn btn-block btn-light auth-req" href="javascript:void(0)" id="subscribe">Unsubscribe</a>
    <% } %>
<% } else {%>
    <a class="btn btn-block btn-light auth-req" href="javascript:void(0)" id="subscribe">Subscribe</a>
<% } %>
<br>