<input class="form-control block" placeholder="Search for post"><br>
<a class="btn btn-block btn-success" href="/r/<%=name%>/submit/link" id="submit-link">Submit new link</a><br>
<a class="btn btn-block btn-primary" href="/r/<%=name%>/submit/post" id="submit-post">Submit new post</a><br>
<a class="btn btn-block btn-light" href="/r/<%=name%>/subscribe" id="submit-post">Subscribe</a><br>
