<h3 class="text-center">Subreddits</h3>
<table class="table table-striped">
    <tbody>
<% if (subreddits != undefined) { 
    subreddits.forEach((s) => { %>
        <tr>
        <td><a href="/r/<%= s.name %>">/r/<%= s.name %></a></td>
        </tr>
    <% }); %>
    <% if(subreddits.length == 0) { %>
        You are not subscribed to any subreddit
    <% } %>
<% } %>
    </tbody>
</table>   