<h1>Actions</h1>
<button class="btn btn-success" id="submit-link">submit new link</button><br>
<button class="btn btn-primary" id="submit-post">submit new post</button><br>
<button class="btn" id="create-subreddit">create subreddit</button>