<!-- Example single danger button -->
<div class="btn-group">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sort
    </button>
    <div class="dropdown-menu">
        <a class="dropdown-item sort-top" href="?sort=top">Top</a>
        <a class="dropdown-item sort-new" href="?sort=new">New</a>
        <a class="dropdown-item sort-old" href="?sort=old">Old</a>
    </div>
</div><hr>