.submit-wrapper {
    background-color: #e9ecef;
    margin-bottom: 15px;
    border-radius: 0.25rem;
    padding: 15px;
    border: 1px solid #ced4da;
}


.post-wrapper {
    background-color: #e9ecef;
    margin-bottom: 15px;
    border-radius: 0.25rem;
}

p {
    padding: 10px;
}

.down-enabled {
    color: blue;
}

.up-enabled {
    color: orange;
}